.ant-layout-content {
  background-color: #f2f3fa;
  background-position: center;
  display: flex;
  justify-content: center;
}
.bg-cloud {
  background-color: #f2f3fa;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
